header{
	
}

body{
	background-color: black;
	margin: 0
}

.Banner {
		background-image: url("Images/img_front.jpg")
}		

h1{
	font-family: "century gothic";
	font-size: 60px;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	text-indent: none;
	text-transform: none;
	color: white;
	[comment: recognised in pixels]
	word-spacing: 10px;
	line-height: none;
}

h2{
	font-family: "century gothic";
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	text-indent: none;
	text-transform: none;
	color: white;
	[comment: recognised in pixels]
	word-spacing: 10px;
	line-height: none;
}



a{
	text-decoration: none;
}